<app-nav-product></app-nav-product>
<div class="maindiv">
  <h2>PRODUCT 4 COATING</h2>
  <div class="leftsidediv">
    <div class="subdiv">
      <div class="heading">
        <h3>WHAT IS THE PRODUCT ABOUT</h3>
        <div></div>    
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.
        
      </div>
    </div>
    <div class="subdiv">
        <div class="heading">
          <h3>WHAT IS THE PRODUCT ABOUT</h3>
          <div></div>    
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.
          
        </div>
    </div>    
  </div>
  <div class="rightsidediv">
      <div class="subdiv">
        <div class="heading">
          <h3>TECHNICAL DETAILS</h3>
          <div></div>    
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
          <!-- <img src="./assets/square.png"> -->
          <div class="w3-content w3-display-container" style="max-width:800px">
            
            <!-- <img class="mySlides" src="https://picsum.photos/900/500?random&t=1}" style="width:100%">
            <img class="mySlides" src="https://picsum.photos/900/500?random&t=2}" style="width:100%">
            <img class="mySlides" src="https://picsum.photos/900/500?random&t=3}" style="width:100%">
            <img class="mySlides" src="https://picsum.photos/900/500?random&t=4}" style="width:100%">
            <img class="mySlides" src="https://picsum.photos/900/500?random&t=5}" style="width:100%"> -->
            <div class="w3-display-container mySlides">
              <img  src="https://picsum.photos/900/500?random&t=1}" style="width:100%">
              <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                SHR Product type 1
              </div>
              
            </div>
            <div class="w3-display-container mySlides">
                <img  src="https://picsum.photos/900/500?random&t=2}" style="width:100%">
                <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                    Product type 2
                </div>
              </div>
              <div class="w3-display-container mySlides">
                  <img  src="https://picsum.photos/900/500?random&t=3}" style="width:100%">
                  <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                      Product type 3
                  </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img  src="https://picsum.photos/900/500?random&t=4}" style="width:100%">
                    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                        Product type 4
                    </div>
                  </div>
                  <div class="w3-display-container mySlides">
                      <img  src="https://picsum.photos/900/500?random&t=5}" style="width:100%">
                      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                          Product type 5
                      </div>
                    </div>
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
              <!-- <div class="w3-left w3-hover-text-khaki" (click)="plusDivs(-1)">&#10094;</div>
              <div class="w3-right w3-hover-text-khaki" (click)="plusDivs(1)">&#10095;</div> -->
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white tooltip" (click)="currentDiv(1)">
                <span class="tooltiptext" id="tooltiptext1">SHR Product type 1</span>
              </span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white tooltip"  (click)="currentDiv(2)">
                  <span class="tooltiptext" id="tooltiptext2"> Product type 2</span>
              </span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white tooltip" (click)="currentDiv(3)">
                  <span class="tooltiptext" id="tooltiptext3"> Product type 3</span>
              </span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white tooltip" (click)="currentDiv(4)">
                  <span class="tooltiptext" id="tooltiptext4"> Product type 4</span>
              </span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white tooltip" (click)="currentDiv(5)">
                  <span class="tooltiptext" id="tooltiptext5"> Product type 5</span>
              </span>

            </div>
          </div>
          
  
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla fugiat minima nam pariatur recusandae, quisquam, impedit maiores illo iure asperiores. Nesciunt veniam, illo obcaecati mollitia officiis quasi magnam id?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum consectetur ea excepturi incidunt error. Aut, deleniti sequi quod porro, similique obcaecati laudantium maiores, quidem labore veniam ducimus saepe eum aperiam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum aspernatur fugit id quis. Natus distinctio obcaecati dicta odio. Iste amet sit quaerat deleniti quidem est dolorum ratione omnis nesciunt.         
        </div>
      </div>
         
  </div>

</div>
